header{
      text-align: center;
      border-bottom: solid 1px grey;
}

ul{
    list-style: none;
    padding: 0px;
}

ul li{
    display:  inline-block;
    margin-right: 30px;
}

a{
    text-decoration: none;
    color: black;
}

